/* Estilos generales */
body {
  font-family: 'Jost', sans-serif;
  background-color: #ffffff;
  color: #2d6b22;
}

h1, h2, h3 {
  font-family: 'Heebo', sans-serif;
  color: #072a16;
}

/* Estilos para secciones específicas */
#hero {
  background-image: url('ruta_a_tu_imagen/hero-background.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

#hero h1 {
  font-size: 36px;
  font-weight: bold;
}

#hero p {
  font-size: 18px;
}

section {
  padding: 50px 0;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #acc864;
}

section img {
  max-width: 100%;
  height: auto;
}

/* Estilos para la barra de navegación */
header {
  background-color: #072a16;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos para el footer */
footer {
  background-color: #072a16;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}

.facebook-icon,
.instagram-icon,
.linkedin-icon,
.youtube-icon {
  font-size: 20px; /* Ajusta el tamaño de los iconos */
}
